.basket {
  padding: var(--padding-m);
  .check {
    .products {
    }
    .confirm {
      .totalPrice {
        font-size: 30px;
        padding: 1rem 0;
      }
      .order {
      }
    }
  }
}
