.orderItem {
  .orderInfo {
    .title {
      font: var(--font-main-s);
    }
    .number {
      font: var(--font-main-m);
    }
    .status {
      font: var(--font-main-s);
    }
  }

  .orderProducts {
  }
}
