.basketProduct {
  display: grid;
  grid-template-columns: 5fr 1fr;
  border: 1px solid var(--primary-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  margin-bottom: 5px;
  .content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    .basketProductImg {
      img {
        width: 100%;
      }
    }
    .info {
      display: grid;
      grid-template-columns: 1.25fr 1fr;
      align-items: center;
      .name {
        font-size: 18px;
        margin: 0 0.5rem;
      }

      .price {
        font-size: 22px;
        margin: 0 0.25rem;
      }
    }
  }

  .control {
    display: flex;
    justify-content: center;
    align-items: center;
    .removeBtn {
      stroke: var(--primary-color);
      height: 30px;
      width: 30px;
    }
  }
}
