.admin {
  .menu {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }

  .content {
    .admin__category,
    .admin__products,
    .admin__personal {
      padding: 0 0.5rem;
      .admin__category_new {
        border: 1px solid var(--primary-color);
        border-radius: 1rem;
        padding: 0 1rem;
        margin: 0.5rem 0;
        display: grid;
        grid-template-columns: 2fr 1.25fr;
        gap: 1rem;
        color: var(--font-color);
        font-size: 20px;
        .admin__category_input {
          padding-top: 0.5rem;
        }
        .admin__category_btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .acceptBtn,
          .closeBtn {
            width: 44px;
            height: 44px;
            fill: var(--primary-color);
          }
        }
      }
      .admin__category_types {
        .admin__category_typeItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.75rem 1rem;
          margin: 0.5rem 0;
          border: 1px solid var(--primary-color);
          border-radius: 1rem;
          font-size: 24px;
          color: var(--font-color);

          .removeBtn {
            stroke: var(--primary-color);
            height: 30px;
            width: 30px;
          }
        }
      }

      .admin__category_add,
      .admin__products_add {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        .admin__category_addItem,
        .admin__products_addItem {
          stroke: var(--primary-color);
          height: 50px;
          width: 50px;
        }
      }
      .admin__products_new {
        border: 1px solid var(--primary-color);
        border-radius: 1rem;
        padding: 1rem;
        margin: 0.5rem 0;
        color: var(--font-color);
        font-size: 20px;
        text-align: center;

        .admin__products_input {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 1rem;
          align-items: center;
          text-align: left;
        }

        .admin__products_fileInput {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }

        .admin__products_btns {
          margin-top: 1rem;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .acceptBtn,
          .closeBtn {
            width: 44px;
            height: 44px;
            fill: var(--primary-color);
          }
        }

        .admin__product_images {
          padding: 1rem 0;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 0.5rem;

          .imageItem {
            height: 100%;
            width: 100%;
          }

          .addNewImages {
            border: 4px solid var(--primary-color);
            stroke: var(--primary-color);
            .addImg {
              width: 100%;
              height: 100%;
              stroke: var(--primary-color);
            }
          }
        }
      }
    }
  }
}
