$haeder_bc: lightslategrey;
$header_fc: #ffe4c4;

@mixin breakpoint($point) {
  @if $point == sm {
    // Small tablets and large smartphones (landscape view)
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point == md {
    // Small tablets (portrait view)
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    // Tablets and small desktops
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == xl {
    // Large tablets and desktops
    @media (min-width: 1200px) {
      @content;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: $haeder_bc;
  width: 100%;

  .header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    @include breakpoint(md) {
      max-width: 800px;
    }
    @include breakpoint(lg) {
      max-width: 1100px;
    }
    @include breakpoint(xl) {
      //max-width: 1400px;
    }
  }

  .header__burger {
    margin-left: 0.5rem;
    fill: $header_fc;
    @include breakpoint(lg) {
      display: none;
    }

    .header__burger__icon {
      fill: $header_fc;
    }
  }

  .header__logo {
    //margin-left: calc(50% - 85px);

    padding: 1rem;
    font-size: 22px;
    color: $header_fc;
    @include breakpoint(md) {
      font-size: 30px;
    }
  }

  .header__navi {
    font-size: 24px;
    display: none;
    @include breakpoint(lg) {
      display: inline;
    }

    a {
      padding: 0 1rem;
    }
  }

  .header__icons {
    margin-right: 0.5rem;
    a {
      padding: 0 0.2rem;
    }
    .header__icons__item {
      height: 24px;
      width: 24px;
      fill: $header_fc;
    }
  }

  a {
    text-decoration: none;
    color: $header_fc;
  }
}

footer {
  padding: 0 1rem;
  background-color: $haeder_bc;
  color: $header_fc;
  .footer__wrapper {
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    .footer__copyright {
      font-size: 0.75rem;
    }
  }
}

main {
  min-height: calc(100vh - 58px - 31px);
  padding: 1rem;
}
