$haeder_bc: lightslategrey;
$header_fc: #ffe4c4;
$font: rgb(54, 62, 70);

@mixin breakpoint($point) {
  @if $point == sm {
    // Small tablets and large smartphones (landscape view)
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point == md {
    // Small tablets (portrait view)
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    // Tablets and small desktops
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == xl {
    // Large tablets and desktops
    @media (min-width: 1200px) {
      @content;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: $haeder_bc;
  a {
    text-decoration: none;
    color: $header_fc;
  }

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
  }

  .header__burger {
    flex-basis: 25%;
    display: flex;

    .header__burger__icon {
      width: 34px;
      height: 34px;
      fill: $header_fc;
    }
  }

  .header__logo {
    flex-basis: 50%;
    font-size: 20px;
    text-align: center;
  }

  .header__navi {
    display: none;
  }

  .header__icons {
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
  }
  .header__icons__item {
    height: 22px;
    width: 22px;
    fill: $header_fc;
  }

  .basketIcon {
    position: relative;
  }
  .basketCount_item {
    position: absolute;
    background-color: darkred;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -4px;
    right: -8px;
    font-size: 12px;
  }
}

footer {
  background-color: $haeder_bc;
  color: $header_fc;
  .footer__wrapper {
    text-align: center;
    .footer__copyright {
      padding: 10px;
      font-size: 10px;
    }
  }
}

main {
}

.container {
  width: 100%;
  position: relative;
  min-height: calc(100vh - 44px - 31px);
  padding: 1rem;
  @include breakpoint(md) {
    max-width: 800px;
  }
  @include breakpoint(lg) {
    max-width: 1100px;
  }
  @include breakpoint(xl) {
    max-width: 1400px;
  }
}

.mobileMenu {
  background-color: white;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  padding: 5px 8px;
  left: -100vw;
  transition: 0.2s ease-in-out;
  z-index: 1;

  .mobileMenu__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .mobileMenu__close,
    .mobileMenu__search {
      width: 34px;
      height: 34px;
      fill: $haeder_bc;
    }
  }
  hr {
    fill: $haeder_bc;
  }
  .mobileMenu__content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    .mobileMenu__item {
      width: 100%;
      .mobileMenu__item_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        font-size: 24px;
        padding: 14px 0;
        color: $haeder_bc;
      }
      .dropArrow {
        margin-left: 1rem;
        width: 18px;
        height: 18px;
        fill: $haeder_bc;
        transform: rotate(180deg);
      }
      .active {
        transform: rotate(0deg);
      }
      .mobileMenu__dropDown {
        padding-left: 1rem;
        .mobileMenu__ddItem {
          display: block;
          text-decoration: none;
          font-size: 22px;
          padding: 14px 0;
          color: $haeder_bc;
        }
      }
    }
  }
}

.activeMenu {
  left: 0;
}

.mobilSearch {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: fixed;
  min-width: 100vw;
  min-height: calc(100vh - 44px);
  .searchWrapper {
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

// Auth
.auth {
  padding: 1rem;
  .auth_choose {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .auth_choose_btn {
      border: none;
      background: transparent;
      text-decoration: none;
      font-size: 20px;
      color: $haeder_bc;
      cursor: pointer;
    }

    .auth_choose_btn_active {
      font-weight: 700;
      color: rgb(14, 56, 56);
    }
  }
}

.shop__productList {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  justify-content: center;
  @include breakpoint(md) {
    gap: 1rem;
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  @include breakpoint(xl) {
    gap: 2rem;
  }
}

.shop__toolbar {
  display: flex;
  justify-content: space-between;
}

.shop__toolbar__selected {
  font-size: 20px;
  color: $haeder_bc;
}

.shop__toolbar__sort,
.shop__toolbar__filter {
  font-size: 20px;
  color: $haeder_bc;
  cursor: pointer;
  &:hover {
    color: #0e3838;
  }
}

.product__sort {
  margin-top: 1rem;
}

.sortTypes {
  .sortType {
    font-size: 20px;
    color: $haeder_bc;
    padding: 1rem 0;
  }
}

.shop__productItem {
  margin-bottom: 15px;
  .productImg__wrapper {
    position: relative;
    .productImg {
      min-width: 150px;
      min-height: 150px;
      background-color: $header_fc;
      img {
        width: 100%;
      }
    }
    .productLike__wrapper {
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      .prodictLike {
        width: 35px;
        height: 35px;
        fill: white;
        stroke: $haeder_bc;
      }
      .liked {
        fill: $header_fc;
      }
    }
  }

  .productContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .productName {
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 10px 0;
      font-size: 18px;
    }
    .productPrice {
      margin: auto 0;
      font-size: 18px;
    }
    .productBtn {
      width: 100%;
      height: 37px;
      padding: 6px;
      font-size: 14px;
      background-color: $haeder_bc;
      color: $header_fc;
      border: none;
      .basket_icon {
        height: 22px;
        width: 22px;
        fill: $header_fc;
      }
    }
    .productBtn_order {
      width: 100%;
      height: 37px;
      padding: 6px;
      font-size: 14px;
      background-color: $header_fc;
      color: $haeder_bc;
      border: 1px solid $haeder_bc;
    }
  }
}

.product {
  .product__img {
    width: 100%;
    //height: 300px;
    //background-color: #ffe4c4;
    img {
      width: 100%;
    }
  }

  .product__content {
    .product__title {
      margin: 1rem 0;
      font-size: 24px;
    }

    .product__price {
      margin: 1rem 0;
      font-size: 24px;
    }

    .product__description {
      margin: 1rem 0;
      font-size: 18px;
    }
    .product__button {
      width: 120px;
      height: 47px;
      padding: 6px;
      font-size: 18px;
      background-color: $haeder_bc;
      color: $header_fc;
      border: none;
      cursor: pointer;
      .basket_icon {
        width: 30px;
        height: 30px;
        fill: $header_fc;
      }
    }
    .product__button_order {
      width: 120px;
      height: 47px;
      padding: 6px;
      font-size: 18px;
      background-color: $header_fc;
      color: $haeder_bc;
      border: 1px solid $haeder_bc;
      cursor: pointer;
    }
  }
}

.admin,
.user {
  .admin__menu,
  .user__menu {
    display: flex;
    justify-content: center;
    padding: 0 2rem;
  }

  .admin__content,
  .user__content {
    .admin__category,
    .admin__products,
    .admin__personal {
      padding: 0 0.5rem;
      .admin__category_new {
        border: 1px solid $haeder_bc;
        border-radius: 1rem;
        padding: 0 1rem;
        margin: 0.5rem 0;
        display: grid;
        grid-template-columns: 2fr 1.25fr;
        gap: 1rem;
        color: $font;
        font-size: 20px;
        .admin__category_input {
          padding-top: 0.5rem;
        }
        .admin__category_btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .acceptBtn,
          .closeBtn {
            width: 44px;
            height: 44px;
            fill: $haeder_bc;
          }
        }
      }
      .admin__category_types {
        .admin__category_typeItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.75rem 1rem;
          margin: 0.5rem 0;
          border: 1px solid $haeder_bc;
          border-radius: 1rem;
          font-size: 24px;
          color: $font;

          .removeBtn {
            stroke: $haeder_bc;
            height: 30px;
            width: 30px;
          }
        }
      }

      .admin__category_add,
      .admin__products_add {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        .admin__category_addItem,
        .admin__products_addItem {
          stroke: $haeder_bc;
          height: 50px;
          width: 50px;
        }
      }
      .admin__products_new {
        border: 1px solid $haeder_bc;
        border-radius: 1rem;
        padding: 1rem;
        margin: 0.5rem 0;
        color: $font;
        font-size: 20px;
        text-align: center;

        .admin__products_input {
          display: grid;
          grid-template-columns: 1fr 2fr;
          gap: 1rem;
          align-items: center;
          text-align: left;
        }

        .admin__products_fileInput {
          opacity: 0;
          visibility: hidden;
          position: absolute;
        }

        .admin__products_btns {
          margin-top: 1rem;
          display: flex;
          justify-content: space-around;
          align-items: center;
          .acceptBtn,
          .closeBtn {
            width: 44px;
            height: 44px;
            fill: $haeder_bc;
          }
        }

        .admin__product_images {
          padding: 1rem 0;
          width: 100%;
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          gap: 0.5rem;

          .imageItem {
            height: 100%;
            width: 100%;
          }

          .addNewImages {
            border: 4px solid $haeder_bc;
            stroke: $haeder_bc;
            .addImg {
              width: 100%;
              height: 100%;
              stroke: $haeder_bc;
            }
          }
        }
      }
    }
  }
}

.user {
}

.pagination {
  width: 100%;
  padding: 1.5rem 2rem 0.5rem;
  display: flex;
  justify-content: space-around;

  .pageItem {
    font-size: 22px;
    color: $haeder_bc;
  }
}

.basket {
  .basket__check {
    .basket__products {
      .basket__productList {
        .basketProduct {
          display: grid;
          grid-template-columns: 5fr 1fr;
          border: 1px solid $haeder_bc;
          border-radius: 0.5rem;
          padding: 0.5rem;
          margin-bottom: 5px;
          .basketProduct__content {
            display: grid;
            grid-template-columns: 1fr 4fr;
            .basketProduct__img {
              img {
                width: 100%;
              }
            }
            .basketProduct__info {
              display: grid;
              grid-template-columns: 1.25fr 1fr;
              align-items: center;
              .basketProduct__name {
                font-size: 18px;
                margin: 0 0.5rem;
              }

              .basketProduct__price {
                font-size: 22px;
                margin: 0 0.25rem;
              }
            }
          }

          .basketProduct__control {
            display: flex;
            justify-content: center;
            align-items: center;
            .removeBtn {
              stroke: $haeder_bc;
              height: 30px;
              width: 30px;
            }
          }
        }
      }
    }
    .basket__confirm {
      .basket__totalPrice {
        font-size: 30px;
        padding: 1rem 0;
      }
      .basket__order {
      }
    }
  }
}
