$haeder_bc: lightslategrey;
$header_fc: #ffe4c4;

@mixin breakpoint($point) {
  @if $point == sm {
    // Small tablets and large smartphones (landscape view)
    @media (min-width: 576px) {
      @content;
    }
  } @else if $point == md {
    // Small tablets (portrait view)
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == lg {
    // Tablets and small desktops
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == xl {
    // Large tablets and desktops
    @media (min-width: 1200px) {
      @content;
    }
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: $haeder_bc;
  a {
    text-decoration: none;
    color: $header_fc;
  }

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 8px;
  }

  .header__burger {
    flex-basis: 25%;
    display: flex;

    .header__burger__icon {
      width: 34px;
      height: 34px;
      fill: $header_fc;
    }
  }

  .header__logo {
    //background-color: green;
    flex-basis: 50%;
    font-size: 20px;
    text-align: center;
  }

  .header__navi {
    display: none;
  }

  .header__icons {
    //background-color: blue;
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
  }
  .header__icons__item {
    height: 22px;
    width: 22px;
    fill: $header_fc;
  }
}

footer {
  background-color: $haeder_bc;
  color: $header_fc;
  .footer__wrapper {
    text-align: center;
    .footer__copyright {
      padding: 10px;
      font-size: 10px;
    }
  }
}

.container {
  width: 100%;
  margin: auto;
  @include breakpoint(md) {
    max-width: 800px;
  }
  @include breakpoint(lg) {
    max-width: 1100px;
  }
  @include breakpoint(xl) {
    max-width: 1400px;
  }
}

main {
  min-height: calc(100vh - 44px - 31px);
  padding: 1rem;
}

.mainPage {
}

.mobileMenu {
  background-color: white;
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  padding: 5px 8px;
  left: -100vw;
  transition: 0.2s ease-in-out;

  .mobileMenu__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    .mobileMenu__close,
    .mobileMenu__search {
      width: 34px;
      height: 34px;
      fill: $haeder_bc;
    }
  }
  hr {
    fill: $haeder_bc;
  }
  .mobileMenu__content {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    .mobileMenu__item {
      width: 100%;
      .mobileMenu__item_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        font-size: 24px;
        padding: 14px 0;
        color: $haeder_bc;
      }
      .dropArrow {
        margin-left: 1rem;
        width: 18px;
        height: 18px;
        fill: $haeder_bc;
        transform: rotate(180deg);
      }
      .active {
        transform: rotate(0deg);
      }
      .mobileMenu__dropDown {
        //margin: 0.5rem 0;
        padding-left: 1rem;
        .mobileMenu__ddItem {
          display: block;
          text-decoration: none;
          font-size: 22px;
          padding: 14px 0;
          color: $haeder_bc;
        }
      }
    }
  }
}

.activeMenu {
  left: 0;
}

// Auth
.auth {
  padding: 1rem;
  .auth_choose {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .auth_choose_btn {
      border: none;
      background: transparent;
      text-decoration: none;
      font-size: 20px;
      color: $haeder_bc;
      cursor: pointer;
    }

    .auth_choose_btn_active {
      font-weight: 700;
      color: rgb(14, 56, 56);
    }
  }
}

.shop__productList {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
  justify-content: center;
  @include breakpoint(md) {
    gap: 1rem;
  }
  @include breakpoint(lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }
  @include breakpoint(xl) {
    gap: 2rem;
  }
}

.shop__toolbar {
  display: flex;
  justify-content: space-between;
}

.shop__toolbar__selected {
  font-size: 20px;
  color: $haeder_bc;
}

.shop__toolbar__sort,
.shop__toolbar__filter {
  font-size: 20px;
  color: $haeder_bc;
  cursor: pointer;
  &:hover {
    color: #0e3838;
  }
}

.product__sort {
  margin-top: 1rem;
}

.shop__productItem {
  margin-bottom: 15px;
  .productImg {
    min-width: 150px;
    min-height: 200px;
    background-color: $header_fc;
  }

  .productContent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .productName {
      grid-column-start: 1;
      grid-column-end: 3;
      padding: 10px 0;
      font-size: 18px;
    }
    .productPrice {
      margin: auto 0;
      font-size: 18px;
    }
    .productBtn {
      width: 100%;
      padding: 6px;
      font-size: 14px;
      background-color: $haeder_bc;
      color: $header_fc;
      border: none;
    }
  }
}

.product {
  .product__img {
    width: 100%;
    height: 300px;
    background-color: #ffe4c4;
  }

  .product__content {
    .product__title {
      margin: 1rem 0;
      font-size: 24px;
    }

    .product__price {
      margin: 1rem 0;
      font-size: 24px;
    }

    .product__description {
      margin: 1rem 0;
      font-size: 18px;
    }
    .product__button {
      padding: 6px;
      font-size: 18px;
      background-color: $haeder_bc;
      color: $header_fc;
      border: none;
      cursor: pointer;
    }
  }
}

.admin {
  .admin__menu {
    display: flex;
    justify-content: center;
  }

  .admin__content {
    .admin__category {
      padding: 0 0.5rem;
      .admin__category_new {
        border: 1px solid $haeder_bc;
        border-radius: 1rem;
        padding: 0 1rem;
        margin: 0.5rem 0;
        display: grid;
        grid-template-columns: 2fr 1.25fr;
        gap: 1rem;
        color: $haeder_bc;
        .admin__category_input {
          padding-top: 0.5rem;
        }
        .admin__category_btns {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .acceptBtn,
          .closeBtn {
            width: 44px;
            height: 44px;
            fill: $haeder_bc;
          }
        }
      }
      .admin__category_types {
        .admin__category_typeItem {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0.75rem 1rem;
          margin: 0.5rem 0;
          border: 1px solid $haeder_bc;
          border-radius: 1rem;
          font-size: 24px;
          color: $haeder_bc;

          .removeBtn {
            stroke: $haeder_bc;
            height: 30px;
            width: 30px;
          }
        }
      }

      .admin__category_add {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        .admin__category_addItem {
          stroke: $haeder_bc;
          height: 50px;
          width: 50px;
        }
      }
    }
  }
}

.user {
}
