.filters {
  position: relative;
  height: 100%;
  width: 100%;

  .sort {
    .sortTitle {
      font: var(--font-main-m);
    }
    .sortTypes {
      padding: 0 0.5rem;
    }
  }
  .accceptBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 1rem;
  }
}
