.filters {
  position: relative;
  height: calc(100vh - var(--header-height-md) - 2rem - 26px);
  width: 100%;

  .sort {
    margin: 1rem 0;
    .sortTitle {
      font: var(--font-main-m);
      margin-bottom: 0.5rem;
    }
    .sortTypes {
      padding: 0 0.5rem;
    }
  }
  .accceptBtn {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
