.signInForm {
  width: 100%;
  min-height: calc(
    100vh - var(--header-height-md) - 3 * var(--margin-m) -
      var(--auth-choose-height)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .resetPass {
    margin-top: 1rem;
  }

  .btns {
    width: 100%;
  }
}
