@import "reset.scss";
@import "variables/global.scss";
@import "breakpoint.scss";

.text {
  color: var(--primary-color);
  margin: 1rem 0;
}

.fs22 {
  font-size: 22px;
}

.fs20 {
  font-size: 20px;
}

main {
}

.container {
  width: 100%;
  margin-top: 44px;
  position: relative;
  min-height: calc(100vh - 44px - 152px);
  padding: 1rem;
  @include breakpoint(md) {
    max-width: 800px;
  }
  @include breakpoint(lg) {
    max-width: 1100px;
  }
  @include breakpoint(xl) {
    max-width: 1400px;
  }
}

.mobilSearch {
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 10;
  position: fixed;
  min-width: 100vw;
  min-height: calc(100vh - 44px);
  .searchWrapper {
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 0.5rem 1rem;
  }
}

// Auth
.auth {
  padding: 1rem;
  .auth_choose {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    .auth_choose_btn {
      border: none;
      background: transparent;
      text-decoration: none;
      font-size: 20px;
      color: var(--primary-color);
      cursor: pointer;
    }

    .auth_choose_btn_active {
      font-weight: 700;
      color: rgb(14, 56, 56);
    }
  }
}

.shop__toolbar {
  display: flex;
  justify-content: space-between;
}

.shop__toolbar__selected {
  font-size: 20px;
  color: var(--primary-color);
}

.shop__toolbar__sort,
.shop__toolbar__filter {
  font-size: 20px;
  color: var(--primary-color);
  cursor: pointer;
  &:hover {
    color: #0e3838;
  }
}

.product__sort {
  margin-top: 1rem;
}

.sortTypes {
  .sortType {
    font-size: 20px;
    color: var(--primary-color);
    padding: 1rem 0;
  }
}

.product {
  .product__img {
    width: 100%;
    //height: 300px;
    //background-color: #ffe4c4;
    img {
      width: 100%;
    }
  }

  .product__content {
    .product__title {
      margin: 1rem 0;
      font-size: 24px;
    }

    .product__price {
      margin: 1rem 0;
      font-size: 24px;
    }

    .product__description {
      margin: 1rem 0;
      font-size: 18px;
    }
    .product__button {
      width: 120px;
      height: 47px;
      padding: 6px;
      font-size: 18px;
      background-color: var(--primary-color);
      color: var(--secondary-color);
      border: none;
      cursor: pointer;
      .basket_icon {
        width: 30px;
        height: 30px;
        fill: var(--secondary-color);
      }
    }
    .product__button_order {
      width: 120px;
      height: 47px;
      padding: 6px;
      font-size: 18px;
      background-color: var(--secondary-color);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
      cursor: pointer;
    }
  }
}

.favorites {
  .unauthorized {
    .toAuth {
    }
    .emptySpace {
      min-height: calc(100vh - 240px);
      display: flex;
      justify-content: center;
      align-items: center;
      .toShop {
        width: 150px;

        .toShop__link {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          font-size: 20px;
          padding: 14px 0;
          color: var(--primary-color);
          .linkArrow {
            margin-left: 1rem;
            width: 18px;
            height: 18px;
            fill: var(--primary-color);
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}

.basket {
  .basket__check {
    .basket__products {
    }
    .basket__confirm {
      .basket__totalPrice {
        font-size: 30px;
        padding: 1rem 0;
      }
      .basket__order {
      }
    }
  }
}

.ordering {
  .ordering__personal {
  }
  .ordering__delivery {
    margin-top: 1rem;
    .ordering__delivery__houseFlat {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
    }
  }
}

.workshops {
  color: var(--primary-color);
}
