.shop {
  padding: calc(var(--padding-m) / 2);

  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;

    .selected {
      font: var(--font-main-m);
      color: var(--primary-color);
    }

    .filter {
      font-size: 20px;
      color: var(--primary-color);
      cursor: pointer;
      display: flex;
      align-items: center;
      &:hover {
        color: #0e3838;
      }
      .filterTitle {
        display: flex;
        align-items: center;
        font: var(--font-main-m);
        .filterIcon {
          height: 34px;
          width: 34px;
          fill: white;
          stroke: var(--primary-color);
          margin: auto;
        }
      }

      .sortType {
        font: var(--font-main-m);
      }
    }
  }
}
