.personal {
  min-height: calc(
    100vh - var(--header-height-md) - var(--select-height-md) - 3 *
      var(--padding-m)
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .btns {
    margin-top: 1rem;
    width: 100%;
    align-self: flex-end;
  }
}
